@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
}

.header {
  margin-left: 70px;
  display: flex;
  justify-content: space-between;

  padding: 10px;
  background: rgba(255, 255, 255, 0.95);
  font-family: "Roboto", sans-serif;
}
.header__item.headerlogo img {
}
.header__item.headerButton a {
  text-decoration: none;
  color: rgba(18, 23, 34, 0.7);
}
.header__item.headerButton .text_border {
  color: #949fe6;
  background-color: #5d95e9;

  border-radius: 40px;
}
.header__item.headerButton .dark_text {
  text-decoration: none;
  color: #121722;
}
.header__item.headerButton .dark_text2 {
  text-decoration: none;
  color: #121722;
}

.header__section {
  display: flex;
  align-items: center;
}
.header__item {
  padding: 25px;
  font-size: 16px;
}
.container {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header-end {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
.button {
}
.title {
  max-width: 300px;
}
.title h1 {
  font-family: "Roboto", sans-serif;
  color: #121722;
  font-size: 40px;
  margin-top: 80px;
  font-weight: normal;
}
.title p {
  margin-top: -15px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  color: gray;
  line-height: 22px;
}
.title .button {
  color: white;
  background: #4058ff;
  border-radius: 100px;
  border-color: #4058ff;
  width: 100px;
  height: 25px;
}
.holder {
  max-width: 1280px;
  margin: 0 auto;
}

.subject h2 {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  color: #303746;

  text-align: center;
  margin-top: 50px;
}
.subject p {
  font-size: 15px;
  line-height: 10px;
  color: #4e5666;
  text-align: center;
}
.inner {
  display: flex;
  align-items: center;
  height: 510px;

  background: #4058ff;
  border-radius: 16px;
}
.subject {
  margin-bottom: 60px;
  font-family: "Roboto";
}

.subject__content h2 {
  padding-top: 40px;
  max-width: 350px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 38px;
  color: white;
}

.subject__content .paragraph {
  max-width: 250px;
  font-family: "Roboto";
  margin-top: -15px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #e8f1ff;
}
.subject__content {
  height: 500px;
  margin-left: 50px;
}
.subject__content .lead {
  max-width: 250px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #e8f1ff;
}
.subject__content2 img {
  margin-left: 150px;
}

.subject__content .img-logo {
  margin-top: 10px;
  width: 220px;
}
.box {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 70px;
}
.img-box {
  width: 750px;
  height: 500px;
}

