@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
}

.header {
  margin-left: 70px;
  display: flex;
  justify-content: space-between;

  padding: 10px;
  background: rgba(255, 255, 255, 0.95);
  font-family: "Roboto", sans-serif;
}
.header__item.headerlogo img {
}
.header__item.headerButton a {
  text-decoration: none;
  color: rgba(18, 23, 34, 0.7);
}
.header__item.headerButton .text_border {
  color: #949fe6;
  background-color: #5d95e9;

  border-radius: 40px;
}
.header__item.headerButton .dark_text {
  text-decoration: none;
  color: #121722;
}
.header__item.headerButton .dark_text2 {
  text-decoration: none;
  color: #121722;
}

.header__section {
  display: flex;
  align-items: center;
}
.header__item {
  padding: 25px;
  font-size: 16px;
}
.container {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header-end {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
.button {
}
.title {
  max-width: 300px;
}
.title h1 {
  font-family: "Roboto", sans-serif;
  color: #121722;
  font-size: 40px;
  margin-top: 80px;
  font-weight: normal;
}
.title p {
  margin-top: -15px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  color: gray;
  line-height: 22px;
}
.title .button {
  color: white;
  background: #4058ff;
  border-radius: 100px;
  border-color: #4058ff;
  width: 100px;
  height: 25px;
}
.holder {
  max-width: 1280px;
  margin: 0 auto;
}

.subject h2 {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  color: #303746;

  text-align: center;
  margin-top: 50px;
}
.subject p {
  font-size: 15px;
  line-height: 10px;
  color: #4e5666;
  text-align: center;
}
.inner {
  display: flex;
  align-items: center;
  height: 510px;

  background: #4058ff;
  border-radius: 16px;
}
.subject {
  margin-bottom: 60px;
  font-family: "Roboto";
}

.subject__content h2 {
  padding-top: 40px;
  max-width: 350px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 38px;
  color: white;
}

.subject__content .paragraph {
  max-width: 250px;
  font-family: "Roboto";
  margin-top: -15px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #e8f1ff;
}
.subject__content {
  height: 500px;
  margin-left: 50px;
}
.subject__content .lead {
  max-width: 250px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #e8f1ff;
}
.subject__content2 img {
  margin-left: 150px;
}

.subject__content .img-logo {
  margin-top: 10px;
  width: 220px;
}
.box {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 70px;
  display: flex;
}
.img-box {
  width: 850px;
  height: 520px;
  margin-right: 40px;
}
.block {
  display: flex;
  background: rgba(241, 245, 255, 0.5);
  border-radius: 16px;
  height: 600px;
  width: 1280px;
  margin-left: 80px;
  margin-top: 50px;
}
.block .info {
  text-align: center;
  margin-top: 150px;
}
.info h2 {
  max-width: 200px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-left: 70px;
  color: #323947;
}
.info p {
  margin-left: 50px;
  max-width: 250px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #656c7c;
}
.article {
  display: flex;
}
.cart.color1 {
  height: 520px;
  background: rgba(255, 244, 245, 0.5);
  border-radius: 16px;
  margin-right: 170px;
  padding-left: 90px;
}
.cart.color2 {
  height: 520px;
  width: 620px;
  background: rgba(255, 246, 228, 0.5);
  border-radius: 16px;
  margin-left: -130px;
  padding-right: 90px;
}
.cart-text1 h3 {
  padding-top: 50px;
  padding-right: 150px;
  font-family: "Roboto";
  font-size: 20px;
  color: #2a2f38;
}
.cart-text1 p {
  font-family: "Roboto";
  font-size: 19px;
  color: rgba(18, 23, 34, 0.6);
  margin-top: -15px;
}
.cart.color1 img {
  margin-top: 45px;
}
.cart-text2 h3 {
  padding-top: 50px;
  padding-left: 80px;
  font-family: "Roboto";
  font-size: 20px;
  color: #2a2f38;
}
.cart-text2 p {
  padding-left: 80px;
  font-size: 19px;
  color: rgba(18, 23, 34, 0.6);
  margin-top: -15px;
  max-width: 650px;
}
.cart.color2 img {
  padding-left: 90px;
  padding-top: 90px;
}
.slogan {
  text-align: center;
  font-family: "Roboto";
  margin-top: 80px;
  line-height: 13px;
}
.slogan h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #121722;
}
.slogan p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(56, 61, 71, 0.7);
}
.item {
  width: 1280px;
  height: 600px;
  display: flex;
  margin-top: 50px;
  align-items: center;
  margin-left: 80px;
  background: #121722;
  border-radius: 16px;
}
.box .information h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
  color: #ffffff;
  padding-top: 40%;
  line-height: 30px;
  padding-right: 150px;
}

.box .information p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #b9c0d5;
  margin-top: -10px;
}
.item img {
  margin-bottom: 65px;
  margin-left: 30px;
}
.cart.color3 {
  height: 550px;
  width: 1100px;
  margin-right: 50px;

  background: rgba(241, 245, 255, 0.5);
  border-radius: 16px;
}
.cart.color4 {
  height: 550px;
  width: 1100px;
  background: rgba(241, 245, 255, 0.5);
  border-radius: 16px;
}
.cart-text3 {
  padding-top: 50px;
  padding-left: 60px;
}
.cart-text3 h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 5px;
  color: #121722;
}
.cart-text3 p {
  max-width: 380px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: rgba(18, 23, 34, 0.6);
}
.cart.color3 img {
  padding-left: 60px;
  padding-top: 40px;
}
.cart-text4 {
  padding-top: 50px;
  padding-left: 60px;
}
.cart-text4 h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 5px;
  color: #121722;
}
.cart-text4 p {
  max-width: 380px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: rgba(18, 23, 34, 0.6);
}
.cart.color4 img {
  padding-left: 60px;
  padding-top: 40px;
}

