@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
* {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  background: rgba(255, 255, 255, 0.95);
  font-family: "Roboto", sans-serif;
}
.header__item.headerlogo img {
  width: 104px;
  height: 24px;
}
.header__item.headerButton a {
  text-decoration: none;
  color: rgba(18, 23, 34, 0.7);
}
.header__item.headerButton2 {
  color: #4058ff;
  text-decoration: none;
  background-color: rgba(64, 140, 255, 0.1);
  border-radius: 20px;
  
}


.header__section {
  display: flex;
  align-items: center;
}
.header__item {
  padding: 25px;
  font-size: 16px;
}
